.seasonal-container {
    min-width: 100%;
    display: flex;
    align-items: center;
    background-color: #F6F5e8;
    margin-bottom: 5rem;
}


.seasonal-text-container {
    width: 40%;
    /* padding: 0 2rem; */
    padding-top: 0;
    line-height: 1.2;
    
  }

  .inner {
    /* padding: 0 2rem; */
    width: 65%;
    margin: auto auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .seasonal-text-container h2 {
    font-size: 1.875rem;
    font-family: Zapf Humanist, serif;
    font-weight: 300;
  }

  .inner div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    min-width: 80%;
    padding: 0.5rem;
    font-size: 14px;
  }

.seasonal-image-container {
    width: 60%;
  }

  @media screen and (max-width: 950px) {
    .seasonal-container {
      flex-direction: column;
    }
  
    .seasonal-text-container {
      max-width: 100%;
      flex-wrap: wrap;
    }
  
    .inner {
      width: 100%;
    }
  
    .seasonal-image-container{
      width: 100%;
    }
  
    /* .content-image-container {
      flex-direction: column;
      align-items: center;
    } */
  }