.footer-one{
    background-color: #a19f9f34;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40vh;
    padding: 0 1rem;
    /* min-width: 30%; */
    /* flex-wrap: wrap; */
}

.footer-one div {
    flex: 0 1 1;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-one-title {
    font-weight: bold;
}

@media (max-width: 800px) {
    .footer-one {
        flex-direction: column;
    }
}
